
.header {
    border-bottom: 1px solid black;
    text-align: center;
}

.subheader {
    border-bottom: 1px solid black;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}